* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.center-me {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.grid-container {
    border: 0.1px solid black;
    height: 500px;
    width: 500px;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}


