* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.center-me {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.grid-container {
    border: 0.1px solid black;
    height: 400px;
    width: 400px;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.gap-2em {
    gap: 2em;
}

.gap-1em {
    gap: 1em;
}

.title {
    font-size: 7em;
    margin:auto;
}

button {
    border:none;
    height: 50px;
    border-radius: 5px;
    background-color: #1682FF;
    color:white;
}

button:hover {
    background-color: #A0CCFF;
}

.input-label {
    font-size: 1.25rem;
}

.colors-container {
    height: 100%;
    background-color: rgba(210, 210, 210, 0.1);
    border-radius: 5px;
    padding: 10px;
}